body {
    font-family: Arial, Verdana, sans-serif;
    font-size: 16px;
    background-color: blanchedalmond;
    padding: 24px 32px 24px 32px;
    min-width: 854px;
    max-width: 427px;
}

#line {
    height: 1px;
    width: 1px;
    margin: auto;
    overflow: auto;
}

label {
    text-align: center;
    display: inline;
}